// fonts
$font-stack: 'Roboto', sans-serif;

//colors
$base-color: rgb(32, 32, 32);
$base-hover: rgba(109, 104, 104, 0.308);
$red: rgb(238, 23, 31);
$red-dark:rgb(165, 37, 41);

$color-gray_soft: rgb(204, 203, 203);
$color-gray_strong: rgb(131, 130, 130);

$blue: rgb(18, 18, 66);
$yellow: rgb(184, 184, 0);
$white: white;
